DATABASE_URL=""
PORT=8000

JWT_SECRET="ksdjlkdsjfklsdjfksdjf"

# EMAIL_HOST="smtp.ethereal.email"
# EMAIL_PORT=587
# EMAIL_USER="minerva.jacobson@ethereal.email"
# EMAIL_PASS="rW6ah7jupf9DNwQ1bQ"

DOMAIN_NAME="localhost"