#MONGO_URI= "mongodb+srv://bhuvneshnama080507_db_user:EhSKQWzkM7CBYLvO@chat-app-in-mern.g8mrvkm.mongodb.net/smart-res-allocation"
#DB_NAME=smart-res-allocation
#REPORTS_COLLECTION=reports
#ANALYSIS_COLLECTION=analysis_results